//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
//COLORS PRIMARY
$primary: #066EF1; // Changing primary color
$primaryHover: #2881F0;
$primaryActive: #066EF1;
$primaryFocus: #064EAA;
$primaryDisabled: #A2C0E5;

//COLORS SECONDARY
$secondary: #052B6C;
$secondaryHover: #264375;
$secondaryActive: #052B6C;
$secondaryFocus: #082049;
$secondaryDisabled: #687EA4;

//COLORS success
$success: #2AC870;
$successHover: #58D790;
$successActive: #2AC870;
$successFocus: #1F9F58;
$successDisabled: #9BD9B7;

//COLORS DANGER
$danger: #FF0000;
$dangerHover: #FF3838;
$dangerActive: #FF0000;
$dangerFocus: #D40000;
$dangerDisabled: #FFB5B5;


//COLORS WARNING 
$warning: #FFB400;
$warningHover: #FFC740;
$warningActive: #FFB400;
$warningFocus: #E9A400;
$warningDisabled: #FFE9B5;

//COLORS INFO
$info: #00A0FF;
$infoHover: #39B5FF;
$infoActive: #00A0FF;
$infoFocus: #008BDD;
$infoDisabled: #B4E3FF;

//COLORS DARK
$dark: #4B4B4B;
$darkHover: #4B4B4B;
$darkActive: #343434;
$darkFocus: #343434;
$darkDisabled: #C0C0C0;